.about {
	padding-bottom: 100px;
	&__item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 100px;
		&-title {
			font-family: Georgia;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 25px;
			color: #8C001A;
			margin-bottom: 30px;
		}
		&-text {
			font-family: Lato;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 28px;
			max-width: 390px;
			color: #505050;
		}
		&-text:nth-child(even) {
			max-width: 342px;
		}
	}
	&__box:nth-child(even) {
		text-align: right;
	}
	&__text-box {
		display: flex;
		justify-content: space-between;
	}
	&__preview-text {
		width: 536px;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 28px;
		color: #505050;
	}
	&__preview-title {
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		line-height: 38px;
	}
}