.about {
	padding-bottom: 110px;
	&__inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 152px;
	}
	&__text {
		width: 540px;
	}
	&__link {
		a {
		font-family: Lato sans-serif;
		font-weight: 700;
		font-size: 16px;
		line-height: 28px;
		text-decoration: none;
		color: #8C001A;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 100px;
		&-title {
			font-family: Georgia sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 25px;
			color: #8C001A;
			margin-bottom: 30px;
		}
		&-text {
			max-width: 390px;
		}
		&-text:nth-child(even) {
			max-width: 342px;
		}
	}
	&__box {
		display: flex;
    flex-direction: column;
    justify-content: center;
	}

	&__box:nth-child(even) {
		text-align: right;
		display: flex;
    flex-direction: column;
    justify-content: center;
	}
	&__text-box {
		display: flex;
		justify-content: space-between;
	}
	&__preview-text {
		width: 536px;
	}

	&__images-box {
		position: relative;
		img {
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
	}

	&__dot {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: rgba(140, 0, 26, .75);
		position: absolute;
		cursor: pointer;
		&:hover::before {
			content: '';
			display: block;
		}
		&:hover .about__dot-text {
			display: block;
		}
		&::after {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #8C001A;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&::before {
			content: '';
			position: absolute;
			background-image: url('../images/dest/line.svg');
			width: 245px;
			height: 120px;
			bottom: 20px;
    	left: 15px;
			display: none;
		}
		&-text {
			position: absolute;
			white-space: nowrap;
			bottom: 130px;
    	left: 150px;
    	font-weight: 700;
			display: none;
		}
		&--1 {
    	bottom: 365px;
    	left: 475px;
		}

		&--2 {
    	bottom: 223px;
    	left: 546px;
		}

		&--3 {
			bottom: 119px;
    	left: 390px;
		}
	}
}