.footer {
	background-color: #8C001A;
	padding: 52px 0 85px;

	&__items {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		&-title {
			font-family: Lato;
			font-weight: bold;
			font-size: 15px;
			line-height: 20px;
			color: #fff;
			margin-bottom: 18px;
		}
		&-link {
			font-family: Lato;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;
			color: #fff;
			text-decoration: none;
			list-style: none;
		}
		&-link--social {
			padding-left: 29px;
		}

		&-link--contact {
			background-image: url('../images/dest/contact.svg');
			background-repeat: no-repeat;	

		}

		&-link--facebook {
			background-image: url('../images/dest/facebook.svg');
			background-repeat: no-repeat;
		}

		&-link--instagram {  
			background-image: url('../images/dest/instagram.svg');
			background-repeat: no-repeat;
		}

		&-link--youTube {  
			background-image: url('../images/dest/youTube.svg');
			background-repeat: no-repeat;
		}

		&-link--newsletter {  
			background-image: url('../images/dest/email.svg');
			background-repeat: no-repeat;
		}

	}
}